.AddPinForm {
    margin-left: 40%;
    text-align: center;
    margin-top: 150px;
    width: 210px;
}

.input{
    width: 157px;
    font-size: 30px;
    text-align: center;
    height: 50px;
}

button {
    padding: 15px 20px;
    margin: 2px;
}
